table {
    width: 70%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 21, 99, 0.8);
    border-radius: 8px;
}

th, td {
    padding: 12px 20px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: rgba(0, 21, 99, 0.8);
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}