/*Reset global securite*/
* {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Georgia, sans-serif;
}

/*Transition*/
html 
{
    scroll-behavior: smooth;
}

@font-face 
{
    font-family: "Times New Roman";
    src: url("./Polices d ecriture/Times New Roman.ttf") format("truetype");
}

@font-face 
{
    font-family: "Georgia";
    src: url("./Polices d ecriture/Georgia.otf") format("opentype");
}

@font-face 
{
    font-family: "Brush Script MT";
    src: url("./Polices d ecriture/Brush Script MT.ttf") format("truetype");
}

@font-face 
{
    font-family: "Brush Script Std";
    src: url("./Polices d ecriture/Brush Script Std.otf") format("opentype");
}

/* Applique une mise en page flexible sur le body */
html, body 
{
    height: 100%; /* Assure que le body et html prennent toute la hauteur de la page */
    display: flex;
    flex-direction: column; /* Organise le contenu du body en colonne */
}

/* Le titre de la page */
h1 
{
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
    color: rgba(0, 21, 99, 0.8);
}

/* Horloge fixee en haut à droite */
.clock 
{
    position: fixed;
    top: 10px;
    left: 90%;
    background-color: rgba(0, 21, 99, 0.8);
    color: white;
    padding: 10px 20px;
    font-size: 1.5em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Style du bouton "Démarrer/Arrêter la musique" */
#start-music-button {
    background-color: rgba(0, 21, 99, 0.8);
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 10px auto;
    display: block;
}

/* Style du bouton au survol */
#start-music-button:hover {
    background-color: rgba(0, 21, 99, 1);
    transform: scale(1.05);
}

/* Animation de clignotement du bouton musique */
@keyframes flashing {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

#start-music-button:active {
    animation: flashing 0.5s ease;
}

/* Menu lateral gauche avec des boutons parallelogrammes */
.container-button 
{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(234, 202, 0);
    width: 150px;
    padding: 20px 30px;
    transform: skewY(15deg); /* Incline les boutons */
}

.parallelogram-button 
{
    width: 150px;
    height: 50px;
    margin-top: 14px;
    background-color: rgba(0, 21, 99, 0.952);
    color: white;
    border: none;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    cursor: pointer;
    transform: skewY(0deg); /* Inclinaison des boutons */
}

.parallelogram-button:hover 
{
    background-color: #41b6f5b5;
}

/* Contenu principal - Occupe toute la hauteur restante */
main 
{
    flex-grow: 1; /* Permet au contenu principal d occuper toute la hauteur disponible */
}

/* Table des Mesures */
table 
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td 
{
    padding: 8px 15px;
    border: 1px solid #ccc;
    text-align: left;
}

thead 
{
    background-color: #f4f4f4;
}

/* Pied de page fixe en bas de la page */
footer 
{
    background-color: rgba(0, 21, 99, 0.952);
    color: white; /*Texte*/
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    margin-top: auto; /* Permet au footer de se positionner en bas */
}

/* Style pour le footer container */
footer .footer-container 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

/* Bouton du footer */
footer .btn 
{
    color: rgb(0, 21, 99);
    background-color: rgb(222, 222, 222);
    border: 3px solid #41b6f5b5;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 17px;
    /*Arrondi bp*/
    font-weight: bold;
}

/* Texte du footer */
footer .container-cr 
{
    font-size: 1.1em;
}

/* Texte du footer avec une police manuscrite */
footer .text 
{
    font-family: "Brush Script MT", Brush Script Std, cursive;
    font-size: 2.4em;
}